{% extends "LC_SearchEngine/base.html" %}

{% block content %}

    <h3> Our project aims to build a scalable web application using Aurora as the database engine and
        AWS as the cloud service. The web application will be a search engine that looks to suggest
        various leetcode problems with the URLs based on the search criteria entered by the user.
    </h3>

    <br>
    <br>
    <br>

    <h5> Contributors: </h5>
    <ul>
        <li> Shrey Shah </li>
        <li> Pranav Sekhar </li>
    </ul>

{% endblock %}