{% extends "LC_SearchEngine/base.html" %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="container">

                <h4> What is this about?</h4>
                <br>
                <p> Our project aims to build a scalable web application using Aurora as the database engine and
                    AWS as the cloud service. The web application will be a search engine that looks to suggest
                    various leetcode problems with the URLs based on the search criteria entered by the user.
                </p>
            </div>
        </div>
    </article>

    <br>

    <article class="media content-section">
          <div class="media-body">
              <div class="container">
                  <h5> Contributors: </h5>
                  <ul>
                      <li> Shrey Shah </li>
                      <li> Pranav Sekhar </li>
                  </ul>
              </div>
          </div>
    </article>


{% endblock %}

