{% extends "LC_SearchEngine/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3> Passionate about improving problem-solving skills? </h3>

    <article class="media content-section">
          <div class="media-body">
              <div class="container">
                  <img src="/media//profile_pics/leetcode.png" class="img-fluid rounded mx-auto d-block"
                       alt="Logo of Leetcode">
              </div>
          </div>
    </article>

    <!-- This is for directing users to the query form-->
    <div class="content-section">
        <form method="POST" action="{% url 'query' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-8">
                    Want to find problems to solve?
                </legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Click Here
                </button>
            </div>
        </form>
    </div>

{% endblock %}